html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Other Classes for Page Styling */


/*body {*/
/*    background: #007bff;*/
/*    background: linear-gradient(to right, #0062E6, #33AEFF);*/
/*}*/

.alert-error {
  margin-top: 80px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  margin-top: 80px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  margin-top: 80px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  margin-top: 80px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}